<!-- ========================================================================================================== -->

        <div id="main-horizontal-menu" class="flex-row-center">
            <nav class="flex-row centered-info">
                <a href="#" class="catalog catalog-menu-width-block">
                    <i class="fa fa-align-left"></i>
                    <span>Каталог</span>
                </a>
                <a href="#" class="novelty">
                    <i class="icon-fire"></i>
                    <span>Новинки</span>
                </a>
                <a href="#" class="popular">
                    <i class="fa fa-thumbs-o-up"></i>
                    <span>Популярное</span>
                </a>
                <a href="#" class="shares">
                    <i class="icon-percent"></i>
                    <span>Акции</span>
                </a>
                <a href="#" class="gifts">
                    <i class="fa fa-gift"></i>
                    <span>Подарки</span>
                </a>
            </nav>
        </div>

        <!-- ========================================================================================================== -->


<main class="flex-row-center">
            <div class="centered-info flex-wrap">

                <!------------------------------------------------------------------------------------------------------->

                <nav id="catalog-menu" class="catalog-menu-width-block">
                    <ul class="catalog-menu-text catalog-menu-width-block">
                        <li><a href="#"><span>Ноутбуки, планшеты и компьютеры</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Телефоны, MP3</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>ТВ, Аудио, Видео, Фото, Муз. инструменты</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Бытовая техника и интерьер</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Активный отдых и туризм</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Спортивные товары</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Детский мир</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Товары для дома</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Дача, сад, огород</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Инструменты и оборудование</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Автотовары<span class="new">NEW</span></span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Авиа и ЖД билеты</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Одежда, обувь и аксессуары</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Алкогольные напитки и... <span class="new">NEW</span></span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Ювелирные украшения</span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Косметика и парфюмерия<span class="new">NEW</span></span><aside class="fa fa-chevron-right"></aside></a></li>
                        <li><a href="#"><span>Торговое оборудование<span class="new">NEW</span></span><aside class="fa fa-chevron-right"></aside></a></li>
                    </ul>

                    <div id="catalog-menu-hover">
                        <a href="#" class="catalog-menu-width-block flex-row-center-center">
                            <i class="fa fa-align-left"></i>
                            <span>Каталог</span>
                        </a>
                        <nav>
                            <ul class="catalog-menu-text catalog-menu-width-block">
                                <li><a href="#"><span>Ноутбуки, планшеты и компьютеры</span><aside>&gt;</aside></a></li>
                                <li>
                                    <a href="#"><span>Телефоны, MP3</span><aside>&gt;</aside></a>
                                    <ul>
                                        <li><a href="#"><span>Смартфоны</span><aside>&nbsp;</aside></a></li>
                                        <li><a href="#"><span>Мобильные телефоны</span><aside>&gt;</aside></a></li>
                                        <li><a href="#"><span>Аксессуары для телефонов</span><aside>&nbsp;</aside></a></li>
                                        <li><a href="#"><span>Планшеты и электронные книги</span><aside>&nbsp;</aside></a></li>
                                        <li>
                                            <a href="#"><span>MP3-плееры и наушники</span><aside>&gt;</aside></a>
                                            <ul class="innermost">
                                                <div class="col-1">
                                                    <li><a href="#">Чехлы для мобильных телефонов</a></li>
                                                    <li><a href="#">Карты памяти</a></li>
                                                    <li><a href="#">Защитные пленки и стекла</a></li>
                                                    <li><a href="#">Зарядные устройства</a></li>
                                                    <li><a href="#">Держатели</a></li>
                                                    <li><a href="#">Док-станции</a></li>
                                                    <li><a href="#">Моноподы для селфи и аксессуары</a></li>
                                                </div>
                                                <div class="col-2">
                                                    <li><a href="#">Портативная акустика</a></li>
                                                    <li><a href="#">Кабели синхронизации</a></li>
                                                    <li><a href="#">Аккумуляторы</a></li>
                                                    <li><a href="#">Гарнитуры</a></li>
                                                    <li><a href="#">Наушники</a></li>
                                                    <li><a href="#">Универсальные мобильные</a></li>
                                                    <li><a href="#">Стилусы</a></li>
                                                </div>
                                            </ul>
                                        </li>
                                        <li><a href="#"><span>Офисные телефоны</span><aside>&nbsp;</aside></a></li>
                                        <li><a href="#"><span>Игры, подарки, гаджеты</span><aside>&nbsp;</aside></a></li>
                                        <li><a href="#"><span>Bluetooth- и проводные гарнитуры</span><aside>&nbsp;</aside></a></li>
                                        <li><a href="#"><span>Умные часы и браслеты</span><aside>&nbsp;</aside></a></li>
                                        <li><a href="#"><span>Услуги</span><aside>&nbsp;</aside></a></li>
                                        <li><a href="#"><span>Мобильный интернет</span><aside>&nbsp;</aside></a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><span>ТВ, Аудио, Видео, Фото, Муз. инструменты</span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Бытовая техника и интерьер</span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Активный отдых и туризм</span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Спортивные товары</span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Детский мир</span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Товары для дома</span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Дача, сад, огород</span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Инструменты и оборудование</span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Автотовары<span class="new">NEW</span></span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Авиа и ЖД билеты</span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Одежда, обувь и аксессуары</span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Алкогольные напитки и... <span class="new">NEW</span></span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Ювелирные украшения</span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Косметика и парфюмерия<span class="new">NEW</span></span><aside>&gt;</aside></a></li>
                                <li><a href="#"><span>Торговое оборудование<span class="new">NEW</span></span><aside>&gt;</aside></a></li>
                            </ul>
                        </nav>
                    </div>

                </nav>

                <!------------------------------------------------------------------------------------------------------->

                <article id="scroller-zone">

                    <div class="unslider"><section style="overflow: hidden;" class="scroller-main unslider-fade">
                        <ul class="unslider-wrap">
                            <li style="opacity: 0;" class="">
                                <img src="assets/spree/frontend/01.jpg">
                                <div class="container">
                                    <h1>Начните новое</h1>
                                    <p><a href="#">Посмотрите, как техника помогает творить</a></p>
                                </div>
                            </li>
                            <li class="unslider-active" style="opacity: 1;">
                                <img src="assets/spree/frontend/02_002.jpg">
                                <div class="container">
                                    <h1>А это — второй слайд</h1>
                                    <p style="margin-left: 130px"><a href="#">Эта ссылочка уж точно никуда не ведет</a></p>
                                </div>
                            </li>
                            <li class="" style="opacity: 0;">
                                <img src="assets/spree/frontend/03.jpg">
                                <div class="container">
                                    <h1>Тоже слайд еще один...</h1>
                                    <p><a href="#">и ссылка в никуда здесь присутствует</a></p>
                                </div>
                            </li>
                        </ul>
                    </section><a class="unslider-arrow next"><i class="fa fa-chevron-right"></i></a><a class="unslider-arrow prev"><i class="fa fa-chevron-left"></i></a><nav class="unslider-nav"><ol><li class="" data-slide="0">1</li><li class="unslider-active" data-slide="1">2</li><li class="" data-slide="2">3</li></ol></nav></div>

                    <nav>
                        <div class="column-1">
                            <a href="#"><i class="icon-headphones"></i>Аудио и музыка</a>
                            <a href="#"><i class="icon-pie-slice"></i>Бизнес</a>
                            <a href="#"><i class="icon-power-supply"></i>Питание и кабели</a>
                            <a href="#"><i class="icon-net"></i>Работа в сети</a>
                        </div>
                        <div class="column-2">
                            <a href="#"><i class="icon-camera"></i>Фотография и творчество</a>
                            <a href="#"><i class="icon-display"></i>Мониторы и крепления</a>
                            <a href="#"><i class="icon-graph"></i>Программное обеспечение</a>
                            <a href="#"><i class="icon-case"></i>Чехлы и защита устройств</a>
                        </div>
                        <div class="column-3">
                            <a href="#"><i class="icon-printer"></i>Принтеры и сканеры</a>
                            <a href="#"><i class="icon-keyboard"></i>Мыши и клавиатуры</a>
                            <a href="#"><i class="icon-storage"></i>Накопители</a>
                        </div>
                    </nav>

                </article>

                <!------------------------------------------------------------------------------------------------------->

                <article class="matrix-article popular">

                    <header>
                        <h1>Популярное</h1>
                        <a href="#">Показать все</a>
                    </header>

                    <section class="goods-matrix">

                        <div class="product">
                            <div class="unslider"><div style="position: relative; overflow: hidden;" class="slider unslider-horizontal">
                                <ul style="width: 300%; left: 0%;" class="unslider-wrap unslider-carousel">
                                    <li class="unslider-active" style="width: 33.3333%;"><img src="assets/spree/frontend/01-w.jpg"></li>
                                    <li style="width: 33.3333%;"><img src="assets/spree/frontend/01-s.jpg"></li>
                                    <li style="width: 33.3333%;"><img src="assets/spree/frontend/01-g.jpg"></li>
                                </ul>
                            </div></div>
                            <hr>
                            <div class="title"><h3>iPad Pro 128GB Wi-Fi + Cellular Space Gray</h3></div>
                            <div class="cost">
                                <div class="primary"><span>31 268 </span>грн</div>
                                <div class="secondary strikeout">35 0545 грн</div>
                            </div>
                            <div class="stock">
                                <button type="submit" class="buy">
                                    <span>Купить</span>
                                </button>
                                <div class="in-stock">В наличии</div>
                            </div>
                            <div class="color-controls">
                                <div class="active"><div style="background-color: #dadada"></div></div>
                                <div><div style="background-color: #969696"></div></div>
                                <div><div style="background-color: #edd1c0"></div></div>
                            </div>
                        </div>

                        <div class="product">
                            <div class="unslider"><div style="position: relative; overflow: hidden;" class="slider unslider-horizontal">
                                <ul style="width: 100%; left: 0%;" class="unslider-wrap unslider-carousel">
                                    <li class="unslider-active" style="width: 100%;"><img src="assets/spree/frontend/02.jpg"></li>
                                </ul>
                            </div></div>
                            <hr>
                            <div class="title"><h3>MacBook Pro Retina 13" (MD212)</h3></div>
                            <div class="cost">
                                <div class="primary"><span>45 268 </span>грн</div>
                                <div class="secondary">800 у.е.</div>
                            </div>
                            <div class="stock">
                                <button type="submit" class="buy">
                                    <span>Купить</span>
                                </button>
                                <div class="last">Заканчивается</div>
                            </div>
                        </div>

                        <div class="product">
                            <div class="unslider"><div style="position: relative; overflow: hidden;" class="slider unslider-horizontal">
                                <ul style="width: 100%; left: 0%;" class="unslider-wrap unslider-carousel">
                                    <li class="unslider-active" style="width: 100%;"><img src="assets/spree/frontend/03_002.jpg"></li>
                                </ul>
                            </div></div>
                            <hr>
                            <div class="title"><h3>Моноблок Apple iMac 27" with Retina 5K display (MK462)</h3></div>
                            <div class="cost">
                                <div class="primary"><span>45 268 </span>грн</div>
                                <div class="secondary">800 у.е.</div>
                            </div>
                            <div class="stock">
                                <button type="submit" class="buy">
                                    <span>Купить</span>
                                </button>
                                <div class="in-stock">В наличии</div>
                            </div>
                        </div>

                        <div class="product">
                            <div class="unslider"><div style="position: relative; overflow: hidden;" class="slider unslider-horizontal">
                                <ul style="width: 400%; left: 0%;" class="unslider-wrap unslider-carousel">
                                    <li class="unslider-active" style="width: 25%;"><img src="assets/spree/frontend/08-w.jpg"></li>
                                    <li style="width: 25%;"><img src="assets/spree/frontend/08-g.jpg"></li>
                                    <li style="width: 25%;"><img src="assets/spree/frontend/08-s.jpg"></li>
                                    <li style="width: 25%;"><img src="assets/spree/frontend/08-r.jpg"></li>
                                </ul>
                            </div></div>
                            <hr>
                            <div class="title"><h3>Apple iPhone 6s Plus</h3></div>
                            <div class="cost">
                                <div class="primary"><span>19 599 </span>грн</div>
                                <div class="secondary">380 у.е.</div>
                            </div>
                            <div class="stock">
                                <button type="submit" class="buy">
                                    <span>Купить</span>
                                </button>
                                <div class="in-stock">В наличии</div>
                            </div>
                            <div class="color-controls">
                                <div class="active"><div style="background-color: #dadada"></div></div>
                                <div><div style="background-color: #edd1c0"></div></div>
                                <div><div style="background-color: #969696"></div></div>
                                <div><div style="background-color: #efc2be"></div></div>
                            </div>
                        </div>

                    </section>

                </article>

                <!------------------------------------------------------------------------------------------------------->

                <article class="matrix-article">

                    <header>
                        <h1>Новинки</h1>
                        <a href="#">Показать все</a>
                    </header>

                    <section class="goods-matrix">

                        <div class="product">
                            <div class="unslider"><div style="position: relative; overflow: hidden;" class="slider unslider-horizontal">
                                <ul style="width: 200%; left: 0%;" class="unslider-wrap unslider-carousel">
                                    <li class="unslider-active" style="width: 50%;"><img src="assets/spree/frontend/04-w.jpg"></li>
                                    <li style="width: 50%;"><img src="assets/spree/frontend/04-s.jpg"></li>
                                </ul>
                            </div></div>
                            <hr>
                            <div class="title"><h3>Meizu Pro 5</h3></div>
                            <div class="cost">
                                <div class="primary"><span>15 268 </span>грн</div>
                                <div class="secondary">800 у.е.</div>
                            </div>
                            <div class="stock">
                                <button type="submit" class="buy">
                                    <span>Купить</span>
                                </button>
                                <div class="in-stock">В наличии</div>
                            </div>
                            <div class="color-controls">
                                <div class="active"><div style="background-color: #dadada"></div></div>
                                <div><div style="background-color: #969696"></div></div>
                            </div>
                        </div>

                        <div class="product">
                            <div class="unslider"><div style="position: relative; overflow: hidden;" class="slider unslider-horizontal">
                                <ul style="width: 400%; left: 0%;" class="unslider-wrap unslider-carousel">
                                    <li class="unslider-active" style="width: 25%;"><img src="assets/spree/frontend/05-r.jpg"></li>
                                    <li style="width: 25%;"><img src="assets/spree/frontend/05-b.jpg"></li>
                                    <li style="width: 25%;"><img src="assets/spree/frontend/05-w.jpg"></li>
                                    <li style="width: 25%;"><img src="assets/spree/frontend/05-g.jpg"></li>
                                </ul>
                            </div></div>
                            <hr>
                            <div class="title"><h3>Samsung N920I Galaxy Note 5</h3></div>
                            <div class="cost">
                                <div class="primary"><span>17 258 </span>грн</div>
                                <div class="secondary">800 у.е.</div>
                            </div>
                            <div class="stock">
                                <button type="submit" class="preorder">
                                    <span>Предзаказ</span>
                                </button>
                                <div class="waited">Ожидаемое</div>
                            </div>
                            <div class="color-controls">
                                <div class="active"><div style="background-color: #efc2be"></div></div>
                                <div><div style="background-color: #5d6279"></div></div>
                                <div><div style="background-color: #dadada"></div></div>
                                <div><div style="background-color: #edd1c0"></div></div>
                            </div>
                            <div class="new">NEW</div>
                        </div>

                        <div class="product">
                            <div class="unslider"><div style="position: relative; overflow: hidden;" class="slider unslider-horizontal">
                                <ul style="width: 100%; left: 0%;" class="unslider-wrap unslider-carousel">
                                    <li class="unslider-active" style="width: 100%;"><img src="assets/spree/frontend/06.jpg"></li>
                                </ul>
                            </div></div>
                            <hr>
                            <div class="title"><h3>Samsung SM-R732 Gear S2 Classic</h3></div>
                            <div class="cost">
                                <div class="primary"><span>8 357 </span>грн</div>
                                <div class="secondary">800 у.е.</div>
                            </div>
                            <div class="stock">
                                <button type="submit" class="buy">
                                    <span>Купить</span>
                                </button>
                                <div class="in-stock">В наличии</div>
                            </div>
                            <div class="new">NEW</div>
                        </div>

                        <div class="product">
                            <div class="unslider"><div style="position: relative; overflow: hidden;" class="slider unslider-horizontal">
                                <ul style="width: 100%; left: 0%;" class="unslider-wrap unslider-carousel">
                                    <li class="unslider-active" style="width: 100%;"><img src="assets/spree/frontend/07.jpg"></li>
                                </ul>
                            </div></div>
                            <hr>
                            <div class="title"><h3>Microsoft Surface RT с Touch Cover</h3></div>
                            <div class="cost">
                                <div class="primary"><span>9 451 </span>грн</div>
                                <div class="secondary">800 у.е.</div>
                            </div>
                            <div class="stock">
                                <button type="submit" class="archived" disabled="disabled">
                                    <span>Архивный</span>
                                </button>
                                <div class="out-of-prod">Снят с производства</div>
                            </div>
                        </div>

                    </section>

                </article>

                <!------------------------------------------------------------------------------------------------------->

                <article class="matrix-article">

                    <header>
                        <h1>Акции</h1>
                        <a href="#">Показать все</a>
                    </header>

                    <section class="goods-matrix">

                        <div class="product">
                            <div class="unslider"><div style="position: relative; overflow: hidden;" class="slider unslider-horizontal">
                                <ul style="width: 300%; left: 0%;" class="unslider-wrap unslider-carousel">
                                    <li class="unslider-active" style="width: 33.3333%;"><img src="assets/spree/frontend/01-w.jpg"></li>
                                    <li style="width: 33.3333%;"><img src="assets/spree/frontend/01-s.jpg"></li>
                                    <li style="width: 33.3333%;"><img src="assets/spree/frontend/01-g.jpg"></li>
                                </ul>
                            </div></div>
                            <hr>
                            <div class="title"><h3>iPad Pro 128GB Wi-Fi + Cellular Space Gray</h3></div>
                            <div class="cost">
                                <div class="primary"><span>31 268 </span>грн</div>
                                <div class="secondary strikeout">35 0545 грн</div>
                            </div>
                            <div class="stock">
                                <button type="submit" class="buy">
                                    <span>Купить</span>
                                </button>
                                <div class="in-stock">В наличии</div>
                            </div>
                            <div class="color-controls">
                                <div class="active"><div style="background-color: #dadada"></div></div>
                                <div><div style="background-color: #969696"></div></div>
                                <div><div style="background-color: #edd1c0"></div></div>
                            </div>
                        </div>

                        <div class="product">
                            <div class="unslider"><div style="position: relative; overflow: hidden;" class="slider unslider-horizontal">
                                <ul style="width: 100%; left: 0%;" class="unslider-wrap unslider-carousel">
                                    <li class="unslider-active" style="width: 100%;"><img src="assets/spree/frontend/02.jpg"></li>
                                </ul>
                            </div></div>
                            <hr>
                            <div class="title"><h3>MacBook Pro Retina 13" (MD212)</h3></div>
                            <div class="cost">
                                <div class="primary"><span>45 268 </span>грн</div>
                                <div class="secondary">800 у.е.</div>
                            </div>
                            <div class="stock">
                                <button type="submit" class="buy">
                                    <span>Купить</span>
                                </button>
                                <div class="last">Заканчивается</div>
                            </div>
                        </div>

                        <div class="product">
                            <div class="unslider"><div style="position: relative; overflow: hidden;" class="slider unslider-horizontal">
                                <ul style="width: 100%; left: 0%;" class="unslider-wrap unslider-carousel">
                                    <li class="unslider-active" style="width: 100%;"><img src="assets/spree/frontend/03_002.jpg"></li>
                                </ul>
                            </div></div>
                            <hr>
                            <div class="title"><h3>Моноблок Apple iMac 27" with Retina 5K display (MK462)</h3></div>
                            <div class="cost">
                                <div class="primary"><span>45 268 </span>грн</div>
                                <div class="secondary">800 у.е.</div>
                            </div>
                            <div class="stock">
                                <button type="submit" class="buy">
                                    <span>Купить</span>
                                </button>
                                <div class="in-stock">В наличии</div>
                            </div>
                        </div>

                        <div class="product">
                            <div class="unslider"><div style="position: relative; overflow: hidden;" class="slider unslider-horizontal">
                                <ul style="width: 400%; left: 0%;" class="unslider-wrap unslider-carousel">
                                    <li class="unslider-active" style="width: 25%;"><img src="assets/spree/frontend/08-w.jpg"></li>
                                    <li style="width: 25%;"><img src="assets/spree/frontend/08-g.jpg"></li>
                                    <li style="width: 25%;"><img src="assets/spree/frontend/08-s.jpg"></li>
                                    <li style="width: 25%;"><img src="assets/spree/frontend/08-r.jpg"></li>
                                </ul>
                            </div></div>
                            <hr>
                            <div class="title"><h3>Apple iPhone 6s Plus</h3></div>
                            <div class="cost">
                                <div class="primary"><span>19 599 </span>грн</div>
                                <div class="secondary">380 у.е.</div>
                            </div>
                            <div class="stock">
                                <button type="submit" class="buy">
                                    <span>Купить</span>
                                </button>
                                <div class="in-stock">В наличии</div>
                            </div>
                            <div class="color-controls">
                                <div class="active"><div style="background-color: #dadada"></div></div>
                                <div><div style="background-color: #edd1c0"></div></div>
                                <div><div style="background-color: #969696"></div></div>
                                <div><div style="background-color: #efc2be"></div></div>
                            </div>
                        </div>

                    </section>

                </article>

                <!------------------------------------------------------------------------------------------------------->

            </div>
        </main>

        <!-- ========================================================================================================== -->




